@font-face {
  font-family: "BrandonText"; font-style: normal; font-weight: normal;
  src: url("/webfonts/BrandonTextRegular.woff2") format("woff2");
}

@font-face {
  font-family: "BrandonText"; font-style: normal; font-weight: bold;
  src: url("/webfonts/BrandonTextBold.woff2") format("woff2");
}

@font-face {
  font-family: "BrandonText"; font-style: italic; font-weight: normal;
  src: url("/webfonts/BrandonTextItalic.woff2") format("woff2");
}